<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li><strong>{{formBuscaService.getDescricaoPassageiros()}}</strong></li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar" (click)="formBuscaService.operacoesBotao('adultos','decrementar')" ></app-botao-controle>
          <span>{{ formBuscaService.formBusca.get('adultos')?.value }}</span>
          <app-botao-controle operacao="incrementar" (click)="formBuscaService.operacoesBotao('adultos','incrementar')"></app-botao-controle>
        </li>
      </ul>
      <ul>
        <li><strong>Crianças</strong></li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar" (click)="formBuscaService.operacoesBotao('criancas','decrementar')"></app-botao-controle>
          <span>{{formBuscaService.formBusca.get('criancas')?.value}}</span>
          <app-botao-controle operacao="incrementar" (click)="formBuscaService.operacoesBotao('criancas','incrementar')"></app-botao-controle>
        </li>
      </ul>
      <ul>
        <li><strong>Bebês</strong></li>
        <li>(Até 2 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar" (click)="formBuscaService.operacoesBotao('bebes','decrementar')"></app-botao-controle>
          <span>{{formBuscaService.formBusca.get('bebes')?.value}}</span>
          <app-botao-controle operacao="incrementar" (click)="formBuscaService.operacoesBotao('bebes','incrementar')"></app-botao-controle>
        </li>
      </ul>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option value="Econômica"
        [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Econômica'"
        (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')">Econômica</mat-chip-option>
        <mat-chip-option
        [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Executiva'"
        (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
        value="Executiva">Executiva</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div class="modal-actions">
    <div mat-dialog-actions>
      <button color="secondary" mat-flat-button mat-dialog-close>Cancelar</button>
    </div>

    <div mat-dialog-actions>
      <button color="primary" mat-flat-button mat-dialog-close>Aplicar</button>
    </div>
  </div>


</section>
